<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SpaceTravel</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/png" href="assets/images/cohete.png" />
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	

	<%= csrf_meta_tags %>

	<link rel="stylesheet" href="assets/css/my_styles_landing.css"> 
	


</head>
<body>
	<%= render "partials/navigation" %>

	<%= yield %>
	
	<footer>
		
	</footer>
	<script src="assets/javascript/main.js"></script>
</body>
</html>
